<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Board Modify</title>
    <style>
        .layout {
            width: 800px;
            margin: 0 auto;
        }
        .layout input {
            width: 100%;
            box-sizing: border-box;
        }
        .layout textarea {
            width: 100%;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="layout">
    <form method="post" th:action="@{/board/update/{id}(id=${board.id})}">
        <input name="title" type="text" th:value="${board.title}">
        <textarea name="content" th:text="${board.content}"></textarea>
        <button type="submit">수정</button>
    </form>
</div>
</body>
</html>